/*错误弹框*/
.errBox{
  position: absolute;
  background: red;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
}
/*模态层*/
.modal{
  position: fixed;
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  background: black;
  opacity: 0.3;
  filter: alpha(opacity(30));
}
/*登录弹框*/
.login_box{
  width: 400px;
  height: 200px;
  background: white;
  position: absolute;
}
.login_box h4{
  height: 40px;
  background: #ccc;
  line-height: 40px;
  text-indent: 1em;
  cursor: move;
}
.login_box a{
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  color: white;
}
.login_box p{
  line-height: 50px;
  text-align: center;
}
.login_box input{
  height: 25px;
}
.login_box p button{
  height: 30px;
  width: 80px;
  cursor: pointer;
}
/*confirm*/
#confirm{
  width: 400px;
  height: 200px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top:50%;
  margin-left: -200px;
  margin-top: -100px;
  text-align: center;
  border: 1px solid #ccc;
  background: #fff;
}
#confirm p{
  line-height: 70px;
  border-bottom: 1px solid #ccc;

}
#confirm button{
  width: 100px;
  height: 30px;
  margin: 20px;
  margin-top: 50px;
}
